body{
	background-image: url("../img/backgroud.jpg") ;
	background-size: cover;
	--font-default-zh:"Exo 2","Helvetica Neue",Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei","Apple SD Gothic Neo",system-ui,sans-serif;
}
.second_back{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background:  rgba(255, 255, 255,0.8);;
	width: 80%;
	height: 80%;
	margin-left:  auto ;
	margin-right:  auto;
	margin-top: 3%;
}
.sign{
	margin-left: 5%;
	width: 30%;
}
.nav a{
	text-decoration: none;
	text-shadow: 0 1px 3px rgba(0,0,0,.75);
	background-color: transparent;
}
.nav{
	display: inline;
	margin-left: 10%;
	margin-bottom: 10%;
	cursor: pointer;
	font-size: 32px;
	padding: 10px;
	line-height: normal;
}